<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8">
		<title>日付入力比較2</title>
		<!-- カレンダー(jQuery DatePicker)のデザインCSS -->
		<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/ui-lightness/jquery-ui.css">
	</head>
	<body>
		<div id="app_vue">
			<h4>日付入力サンプル</h4>
			<ul>
				<li> 1 : セレクトボックスのみ　　　　　　　　　　　　　：
					<input_date input_name="my_input_date" v-model="date1"></input_date><br/>
					値：{{date1}}<br/>
					<textarea style="width:80%"> <input_date input_name="my_input_date" v-model="date1"></input_date> </textarea>
				</li>
				<li> 2 : セレクトボックス＋カレンダーボタン　　　　　　：
					<input_date input_name="my2_input_date" v-model="date2" button-calendar=true></input_date><br/>
					値：{{date2}}<br/>
					<textarea style="width:80%"> <input_date input_name="my2_input_date" v-model="date2" button-calendar=true></input_date> </textarea>
				</li>
				<li> 3 : セレクトボックス＋今日ボタン　　　　　　　　　：
					<input_date input_name="my3_input_date" v-model="date3" button-today=true></input_date><br/>
					値：{{date3}}<br/>
					<textarea style="width:80%"> <input_date input_name="my3_input_date" v-model="date3" button-today=true></input_date> </textarea>
				</li>
				<li> 4 : セレクトボックス＋カレンダーボタン＋今日ボタン：
					<input_date input_name="my4_input_date" v-model="date4" button-calendar=true button-today=true week="true"></input_date><br/>
					値：{{date4}}<br/>
					<textarea style="width:80%"> <input_date input_name="my4_input_date" v-model="date4" button-calendar=true button-today=true week="true"></input_date><br/> </textarea>
				</li>
				<li> 5 : 動的な値指定、制限あり　　　　　　　　　　　　：
					<input_date input_name="my5_input_date" v-model="date5" button-calendar=true min="2019/2/1" max="2019/11/15"></input_date><br/>
					値：{{date5}}<br/>
					<textarea style="width:80%"> <input_date input_name="my5_input_date" v-model="date5" button-calendar=true min="2019/2/1" max="2019/11/15"></input_date> </textarea>
				</li>
				<li> 6 : 静的な初期値指定　　　　　　　　　　　　　　　：
					<input_date input_name="my5_input_date" button-calendar=true min="2016/2/1" max="2019/11/15" value="2018/1/1"></input_date><br/>
					<textarea style="width:80%"> <input_date input_name="my5_input_date" button-calendar=true min="2016/2/1" max="2019/11/15" value="2018/1/1"></input_date> </textarea>
					<br/>&nbsp;
				</li>
			</ul>
		</div>
	</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js"></script>
<script src="https://jp.vuejs.org/js/vue.js"></script>
<script src="./input_date.js"></script>

<script>
	var app = new Vue({
		el: "#app_vue",
		data: {
			date1 : null,
			date2 : null,
			date3 : null,
			date4 : null,
			date5 : new Date('2019/4/1'),
		},
		components : {
			'input_date' : component_input_date,
		}
	});
</script>

</html>